#content-container {
    margin: 60px;
}

#project-container {
    display: flex;
    min-height: 100%;
}

.row {
    margin-bottom: 15px;
}

.side-nav {
    flex: 2;
    height: 100%;
    width: 25%;
    margin-right: 15px;
}

.to-do-container {
    flex: 5;    
}

.to-do-card {
    padding: 30px;
    border-radius: 0.375rem;
    border:1px solid #eee;
    margin-bottom: 30px;
}

#projects {
    padding-left: 0;
}

.project {
    list-style: none;
    padding: 15px;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.project-title,
.to-do-title {
    margin: 0;
}

.btn {
    background-color: rgb(59,130,246);
    color: #fff;
    padding: 10px 20px;
    font-size: large;
    border-style: none;
    border-radius: 10px;
    margin-right: 15px;
}

.btn:hover {
    background-color: #0a58ca;
    border-color: #0a53be;
    cursor: pointer;
}

input {
    display: block;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

select {
    display: block;
    min-width: 100%;
    max-width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}


/* Modal form */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 80%;
    padding: 2rem;
    background-color: #fff;
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}