h2 {
    margin-top: 0;
}

#content-container {
    margin: 60px;
}

#project-container {
    display: flex;
    min-height: 100%;
}

.row {
    margin-bottom: 15px;
}

.side-nav {
    flex: 2;
    height: 100%;
    width: 25%;
    margin-right: 15px;
}

.to-do-container {
    flex: 5;    
}

#to-do-list {
    padding: 30px;
    border-radius: 0.375rem;
    border:1px solid #eee;
    margin-bottom: 30px;
}

.to-do-card {
    border-radius: 0.375rem;
    border:1px solid #eee;
    margin-bottom: 30px;
}

.to-do-card:last-child {
    margin-bottom: 0;
}

/* High Priority */
.high-priority .collapsible {
    background-color: #ff5252;
}
.high-priority .collapsible.active, 
.collapsible:hover {
    background-color: #d54646;
}
.high-priority .content {
    background-color: #ffc9c9;
}

/* Medium priority */
.medium-priority .collapsible {
    background-color: #ffc552;
}
.medium-priority .collapsible.active, 
.medium-priority .collapsible:hover {
    background-color: #e3b24e;
}
.medium-priority .content {
    background-color: #ffde9c;
}

/* Low priority */
.low-priority .collapsible {
    background-color: #87ff77;
}
.low-priority .collapsible.active, 
.low-priority .collapsible:hover {
    background-color: #6dce60;
}
.low-priority .content {
    background-color: #b8ffae;
}

.collapsible {
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }

  .collapsible.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* .collapsible.active, 
.collapsible:hover {
    background-color: #94e7e2;
} */

.content {
    padding: 30px;
    display: none;
    overflow: hidden;
    background-color: #f3fffd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content p:first-child {
    margin-top: 0;
}

#projects {
    padding-left: 0;
}

.project {
    list-style: none;
    border: 1px solid blue;
    margin-bottom: 10px;
}

.project-link {
    display: block;
    padding: 30px;
    cursor: pointer;
}
.active {
    background-color: #d5fff5;
}

.to-do-card p:last-child {
    margin-bottom: 0;
}

.btn {
    background-color: rgb(59,130,246);
    color: #fff;
    padding: 10px 20px;
    font-size: large;
    border-style: none;
    border-radius: 10px;
    margin-right: 15px;
}

.btn:hover {
    background-color: #0a58ca;
    border-color: #0a53be;
    cursor: pointer;
}

input {
    display: block;
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

select {
    display: block;
    min-width: 100%;
    max-width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}


/* Modal form */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 80%;
    padding: 2rem;
    background-color: #fff;
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}